/* Imports */
/* Colors */
/* Background */
/* line 11, ../sass/style_display.scss */
.background-display {
  background-color: white;
}

/* line 15, ../sass/style_display.scss */
.background-display {
  -moz-transition-property: background-image;
  -webkit-transition-property: background-image;
  transition-property: background-image;
  -moz-transition-duration: 2s;
  -webkit-transition-duration: 2s;
  transition-duration: 2s;
}

/* line 20, ../sass/style_display.scss */
.progress-bar {
  background-color: #7a7a7a;
}

/* Text style */
/* line 25, ../sass/style_display.scss */
.points {
  font-size: 90px;
}

/* line 29, ../sass/style_display.scss */
.textshadow {
  text-shadow: #fff 2px 0px 0px, #fff 2px 2px 0px, #fff 2px -2px 0px, #fff -2px 2px 0px, #fff -2px 0px 0px, #fff -2px -2px 0px, #fff 0px 2px 0px, #fff 0px -2px 0px;
}

/* line 33, ../sass/style_display.scss */
.textshadowlight {
  text-shadow: #fff 1px 0px 0px, #fff 1px 1px 0px, #fff 1px -1px 0px, #fff -1px 1px 0px, #fff -1px 0px 0px, #fff -1px -1px 0px, #fff 0px 1px 0px, #fff 0px -1px 0px;
}

/* Blocks */
/* line 38, ../sass/style_display.scss */
.team-name {
  margin-top: -15px;
}

/* line 42, ../sass/style_display.scss */
.img-vs {
  width: 90%;
  margin-top: 20%;
}

/* line 47, ../sass/style_display.scss */
.chart {
  margin-top: 30px;
}

/* line 51, ../sass/style_display.scss */
.timing {
  background-color: rgba(0, 0, 0, 0.7);
  width: 170px;
  height: 70px;
  border-radius: 10px;
  border: 1px solid white;
  color: white;
  margin-left: 45%;
}

/* line 61, ../sass/style_display.scss */
.footer {
  height: 40px;
}

/* line 65, ../sass/style_display.scss */
.progress {
  margin-top: 20px;
  background-color: #d6d6d6;
}

/* line 70, ../sass/style_display.scss */
.popup {
  position: absolute;
  width: 99%;
  height: 99%;
  top: 0.5%;
  left: 0.5%;
  box-shadow: 1px 1px 102px #000;
  font-size: 50px;
  font-weight: bold;
}

/* line 81, ../sass/style_display.scss */
.popup.hell {
  background-color: #000;
  color: #FFF;
}

/* line 85, ../sass/style_display.scss */
.popup.heaven {
  background-color: #FFF;
}

/* line 89, ../sass/style_display.scss */
.img-pop {
  max-height: 80%;
}

/* line 93, ../sass/style_display.scss */
.pop-title {
  margin-top: 30px;
}
