/* Imports */
/* Colors */
/* Background */
/* line 11, ../sass/style_display.scss */
body {
  background-color: black;
}

/* line 15, ../sass/style_display.scss */
.background-display {
  -moz-transition-property: background-image;
  -webkit-transition-property: background-image;
  transition-property: background-image;
  -moz-transition-duration: 2s;
  -webkit-transition-duration: 2s;
  transition-duration: 2s;
}

/* line 20, ../sass/style_display.scss */
.progress-bar {
  background-color: #7a7a7a;
}

/* Text style */
/* line 25, ../sass/style_display.scss */
.points {
  font-size: 90px;
}

/* line 29, ../sass/style_display.scss */
.textshadow {
  text-shadow: #fff 2px 0px 0px, #fff 2px 2px 0px, #fff 2px -2px 0px, #fff -2px 2px 0px, #fff -2px 0px 0px, #fff -2px -2px 0px, #fff 0px 2px 0px, #fff 0px -2px 0px;
}

/* Blocks */
/* line 34, ../sass/style_display.scss */
.block-team {
  padding: 10px 30px 10px 30px;
}

/* line 37, ../sass/style_display.scss */
.team-name {
  margin-top: -15px;
}

/* line 41, ../sass/style_display.scss */
.img-vs {
  width: 90%;
  margin-top: 20%;
}

/* line 46, ../sass/style_display.scss */
.chart {
  margin-top: 30px;
}
