/* Imports */
@import "compass";

/* Colors */
$background: white;
$background-charts: #e2e2e2;
$background-teams: #ae133a;
$font-generic:  black;
$font-teams: white;
$font-teams-around: #7e0927;

/* Background */
body{
    background-color: $background;
    color: $font-generic;
}

/* Text style */
.points{
    font-size: 90px;
    color: $font-teams;
}
.team-name{
    color: $font-teams;
}

.textshadow{
    @include text-shadow($font-teams-around 2px 0px 0px, $font-teams-around 2px 2px 0px, $font-teams-around 2px -2px 0px, $font-teams-around -2px 2px 0px, $font-teams-around -2px 0px 0px, $font-teams-around -2px -2px 0px, $font-teams-around 0px 2px 0px, $font-teams-around 0px -2px 0px);
}

/* Blocks */
.block-team{
    padding: 10px 30px 10px 30px;
    .row{
        @include box-shadow(#c9c9c9 0px 0px 3px);
        @include border-radius(10px);
            background-color: $background-teams;
    }
}

.team-name{
    margin-top: -15px;
}

.chart{
    margin-top: 30px;
    margin-bottom: 50px;
    padding: 10px;
    background-color: $background-charts;
    @include box-shadow(#c9c9c9 0px 0px 3px);
    @include border-radius(10px);
}

.footer{
    font-weight: bold;
    font-style: italic;
    margin: 0px;
}